// src/pages/_CompanyRoster.desktop.scss
@import '../styles/variables';

.hex-grid {
  width: 50%;
  min-width: 320px;
}

.detail-panel {
  width: 50%;
}

@media (min-width: $bp-desktop) {
  .company-roster {
    max-width: 1200px;
    margin: 0 auto;
  }
}
